<div class="center jumbotron">
  <h1>Authentication system for teachers</h1>
  <h2>
    Find the source code
    <a href="https://github.com/ssrcruz/authentication_app">here</a>
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
