<% provide(:title, @user.name) %>
<div class="row">
  <% if logged_in? %>
      <div>
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="student_form">
            <%= render 'shared/student_form' %>
          </section>
        </aside>
      </div>
  <% end %>
  <div class="col-md-8">
    <% if @user.students.any? %>
      <h3>Students (<%= @user.students.count %>) </h3>
        <%= render 'shared/student_info' %>
    <% end %>
  </div>
</div>
