<%= form_for(@student) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_field :name, placeholder: "Add new student" %>
    </div>
    <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>
