<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent Name</th>
      <th>Parent Email</th>
      <th></th>
    </tr>
  </thead>
    <% @students.each do |student| %>
      <tbody>
        <tr>
          <td><%= student.name %> </td>
          <td><%= student.parent_name %> </td>
          <td><%= student.parent_email %> </td>
          <td>

              <%= link_to "delete", student, method: :delete, data: { confirm: "Are you sure?" } %>

          </td>
        </tr>
      </tbody>
    <% end %>
</table>
