<footer class="footer">
  <small>
    <a href="https://github.com/ssrcruz/authentication_app">Authentication app</a>
    built by <a href="http://ssrcruz.github.io">Ruben Cruz</a>
  </small>
  <nav>
    <ul>
      <li>
        <a href="mailto:ssrcruz@gmail.com">contact</a>
      </li>
    </ul>
  </nav>
</footer>
